<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h3>View 3</h3>
      <mat-card class="full-width">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row home-row-first border-bottom">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="pull-left">
                  <p>View Three</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>