<div class="sidebar border-left">
  <ul>
    <li>I'm a sidebar</li>
    <!-- <li>
      <a [routerLink]="[homeUrl]" routerLinkActive="active">Home</a>
    </li>
    <li>
      <a [routerLink]="[addCompanyUrl]">Add Company</a>
    </li>
    <li>
      <a [routerLink]="[settingsUrl]" routerLinkActive="active">Settings</a>
    </li>
    <li>
      <a [routerLink]="[userProfileUrl]" routerLinkActive="active">Profile</a>
    </li>
    <li>
      <a [routerLink]="[aboutUrl]" routerLinkActive="active">About</a>
    </li>
    <li>
      <a href="javascript:void(0)" (click)="showTutorialFn()">Tutorial</a>
    </li>
    <li>
      <a href="javascript:void(0)" (click)="downloadUpdate()" *ngIf="isUpdateAvailable">Update App</a>
    </li> -->
  </ul>
</div>