$nav-button-color: rgb(151, 216, 0);

// deprecate
$primary-color: #03a9f4;
$primary-color-alpha: rgba(3, 169, 244, 0.7);

// colors
$color-primary: #03a9f4;
$color-primary-alpha: rgba(3, 169, 244, 0.7);
$color-primary-alpha-light: rgba(139, 218, 255, 0.1);
$color-accent: #ff5252;
$color-dark-grey: #3b3b3b; // 2c2c2c
$color-light-grey: #616161;
$color-light-grey-secondary: rgb(175, 175, 175);
$color-light-grey-secondary-alpha: rgba(175, 175, 175, 0.6);
$color-light-grey-primary-alpha: rgb(232, 232, 232);
$color-white: #fff;
$color-alpha-black: rgba(0, 0, 0, 0.1);

$primary-font: 'Open Sans', sans-serif;

$font-xsmall: 12px;
$font-small: 14px;
$font-medium: 16px;
$font-large: 18px;
$font-xlarge: 22px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;
$font-weight-bolder: 900;